---
title: Jessica posts
layout: default.njk
---

<h2>Posts</h2>

<ul class="post-list">
{% for post in collections.posts | reverse %}
  <li class="post-preview">
    <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>

    <p class="post-date">{{ post.data.date_display }}</p>

    <div>
      <a href="{{post.url | url }}">
        <img src="/assets/images/posts/{{ post.data.img_dir }}/{{ post.data.preview.img }}" alt="{{ post.data.preview.alt }}"/>
      </a>
      <p>{{ post.data.preview.summary }}</p>
    </div>
  </div>
{% endfor %}
</ul>

