<header>
  <h1><a href="/" class="home-link">jessica dussault</a></h1>

  {# TODO add active #}
  <nav>
    <a href="/posts" class="nav-link">
      <span>Posts</span>
    </a>
    <a href="/photos" class="nav-link">
      <span>Photos</span>
    </a>
    <a href="/about" class="nav-link">
      <span>About me</span>
    </a>
  </nav>
</header>
