{# 
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
#}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="Jessica Dussault">
<meta name="description" content="The personal website of Jessica Dussault, friend of Kip Austin.">
