<h2>Weather!</h2>

<p>Coming soon, a weather page specific to Lincoln, NE, with all the information that I actually want to see in one convenient place...except for radar, probably that's not gonna happen.</p>
