$base-color: #3475b2;        /* light purple */
$alt-color: #c7c7c7;         /* grey */
$accent-color: #f9dc12;      /* yellow */
$link-color: #4700a8;        /* plum */
$text-color: black;
$text-alt-color: white;
