---
title: Cook Blub
layout: default.njk
---

<h2>{{ title }}</h2>

<p><em>"The coldest damn Cook Blub on the planet."</em></p>

Cook Blub started with the theme "books that blew your mind when you were young" but has grown into something much greater. Though our members are now scattered across the continent, I hope that we shall continue to Blub for a long time to come.

<table class="table-sort table-arrows remember-sort">
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Author</th>
    <th>Date blubbed</th>
    <th>Genres</th>
    <th>The picker</th>
  </tr>
  {% for book in cookblub %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.date | formatDate("MMM DD, YYYY") }}</td>
      <td>{{ book.genres | join(", ") }}</td>
      <td>{{ book.picker }}</td>
    </tr>
  {% endfor %}
</table>

<figure>
  <img src="/assets/images/sidequests/cookblub/this-blessed-earth.jpg" alt="A low quality photoshop job that places the cover of the book This Blessed Earth next to a googly eyed version of governor of Nebraska, Pete Ricketts. It is an imitation of a famous campaign sign of Rep. Fortenberry with googly eyes."/>
  <figcaption>Pretty good book for a radical activist.</figcaption>
</figure>
