/*$base-color: #4a5067;
$alt-color: #c7c7c7;
$accent-color: #bcdf1f;
$text-color: #000;
$text-alt-color: #fff;*/

/*$base-color: #82a2c0;*/
$base-color: #719ec7;
$alt-color: #c7c7c7;
$accent-color: #f9dc12;
$text-color: black;
$text-alt-color: white;