@import "variables";

.desc {
  flex-basis: 100%;
}

.forecast_period {
  border: 1px solid black;
}

.forecast_period_day {
  background-color: lighten($accent-color, 35%);
}

.forecast_period_night {
  background-color: #8a8ec2;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon {
  background-color: white;
  border: 1px solid black;
  height: 5em;
  margin: 0 1em;
  width: 5em;
}

.icon-current {
  // background-color: blue;
}

.temp-range-container {
  background-color: $base-color;
  border-radius: 30px;
}

.temp-range {
  background-color: $accent-color;
  border-radius: 30px;
  height: 2em;
}

.weather-period {
  display: flex;
  padding: 1em 0;
  margin-top: 1em;
}

.weather-current {
  background-color: $alt-color;
}
