---
title: Jessica Dussault
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "_meta_tags.njk" %}
    {% include "_favicon.njk" %}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body class="{{ body_class }}">
    {% include "_header.njk" %}

    <main>
      {{ content | safe }}
    </main>
  </body>

</html>
