<h1>jessica dussault</h1>
<div class="navigation">
  <%= link_to "Home", :home, class: "nav-link" %>
  <%= link_to "Posts", :posts, class: "nav-link" %>
  <%= link_to "About", :about, class: "nav-link" %>
  <%= link_to "Weather", :weather, class: "nav-link" %>
</div>
