<%= link_to home_path, class: "home-link" do %>
  <h1>jessica dussault</h1>
<% end %>
<div class="navigation">
  <%= link_to "Posts", :posts, class: "nav-link" %>
  <%= link_to "Weather", :weather, class: "nav-link" %>
  <%= link_to "About", :about, class: "nav-link" %>
</div>
