<h1>Jessica Dussault</h1>
<div class="navigation">
  <div class="nav-link">
    Home
  </div>
  <div class="nav-link">
    Posts
  </div>
  <div class="nav-link">
    About
  </div>
  <div class="nav-link">
    Weather
  </div>
</div>
